Dos.ORM-master/testorm/Connected Services/MiniUiService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceWcf" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceCommon.Enum" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceWcf" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceWcf" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fnH2000ToCDSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorstr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fnH2000ToCDSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fnH2000ToCDSystemResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorstr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSingle" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ImportRequestResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Syscustomer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exportDFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getuploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SysCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getuploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getuploadFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUclLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EdiNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceCommon.Enum" minOccurs="0" name="enumtype" type="q4:UCLEnum" />
        <xs:element minOccurs="0" name="ep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
        <xs:element minOccurs="0" name="UclOperator" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUclLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="exportEntryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportEntryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exportEntryListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Json" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importManualResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="H2000ImportDeclare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="days" type="xs:int" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="H2000ImportDeclareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="H2000ImportDeclareResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importManualSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importManualSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importManualSingleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEntryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strList" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEntryIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateHeadDtl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DEH_ID" type="xs:long" />
        <xs:element minOccurs="0" name="Deh_Trade_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Deh_Owner_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Deh_Agent_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Deh_Note_s" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ded_Id" type="xs:long" />
        <xs:element minOccurs="0" name="Ded_g_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ded_g_Model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateHeadDtlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateHeadDtlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testUi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testUiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testUiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>