Dos.ORM-master/testorm/Connected Services/CustomerServiceWcf/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CustomerServiceWcf" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceCommon.Enum" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CustomerServiceCommon.Models.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CustomerServiceWcf" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CustomerServiceWcf" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportEntryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportEntryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exportEntryListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="synchronizationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorstr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="synchronizationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="synchronizationDataResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorstr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importCDSystemData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EPAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importCDSystemDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importCDSystemDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCDSystemData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorstr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCDSystemDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCDSystemDataResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorstr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExportEdiNOs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EPAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExportEdiNOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getExportEdiNOsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeExportState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ediNO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeExportStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeExportStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeImportState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ediNO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeImportStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeImportStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importCDSystemDataStr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EPAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importCDSystemDataStrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importCDSystemDataStrResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCustomerSeviceEdiNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ediNO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCustomerSeviceEdiNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCustomerSeviceEdiNoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exportDFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getuploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SysCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getuploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getuploadFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUclLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EdiNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceCommon.Enum" minOccurs="0" name="enumtype" type="q3:UCLEnum" />
        <xs:element minOccurs="0" name="ep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
        <xs:element minOccurs="0" name="UclOperator" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUclLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErrorFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EDINo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="epNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CudtomerCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEdiNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEdiNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getEdiNoResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exportManualResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="H2000ImportDeclare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="days" type="xs:int" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="H2000ImportDeclareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="H2000ImportDeclareResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportManualSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportManualSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exportManualSingleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEntryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strList" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="customercd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEntryIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCstVslInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ctnno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCstVslInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CustomerServiceCommon.Models.Model" minOccurs="0" name="GetCstVslInfoResult" nillable="true" type="q7:ElectronicPacking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>